@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Rock+Salt|Shadows+Into+Light|Cedarville+Cursive');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body {
  background: rgba(0, 0, 0, 0.834);
} */

section.navbar {
  display: flex;
  justify-content: space-around;
  height: 200px;
  align-items: center;
  color: #fff;
}

.logo {
  font-family: 'Cedarville Cursive', cursive;
  font-size: 48px;
  color: burlywood;
}

ul.nav {
  display: flex;
  gap: 58px;
  list-style: none;
  font-size: 18px;
}

a.imalink {
  text-decoration: none;
  color: black;
  font-family: 'Poppins';
}

.imalink {
  display: inline-block;
  padding-bottom: 0.65rem;
  /* defines the space between text and underline */
  position: relative;
}

.imalink::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: burlywood;
  transition: width 0.40s ease-out;
}

.imalink:hover::before {
  width: 100%;
}


.text{
  text-align: center;
  padding: 10px;
}
.paragraph{
  color: black;
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  
}
.btn{
  background-color: #32578E;
  border-radius: 10px;
  color: white;
}













/*footer section

.footer {
  background: #000;
}

.footer .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.5rem;
}

.footer .box-container .box h3 {
  font-size: 2.5rem;
  color: greenyellow;
  padding: 1rem 0;
}

.footer .box-container .box h3 i {
  color: orange;
}

.footer .box-container .box .links {
  display: block;
  font-size: 1.5rem;
  color: var(--light-color);
  padding: 1rem 0;
}

.footer .box-container .box .links i {
  color: var(--orange);
  padding-right: .5rem;
}

.footer .box-container .box .links:hover i {
  padding-right: 2rem;
}


/* .footer .box-container .box p {
  line-height: 1.8;
  font-size: 1.5rem;
  color: var(--light-color);
  padding: 1rem 0;
} 

.footer .box-container .box .share a {
  height: 4rem;
  width: 4rem;
  line-height: 4rem;
  border-radius: .5rem;
  font-size: 2rem;
  color: var(--black);
  margin-right: .2rem;
  background: #eee;
  text-align: center;
}

.footer .box-container .box .share a:hover {
  background: var(--orange);
  color: #fff;
}

.footer .box-container .box .email {
  width: 100%;
  margin: .7rem 0;
  padding: 1rem;
  border-radius: .5rem;
  background: #eee;
  font-size: 1.6rem;
  color: var(--black);
  text-transform: none;
}

/* .footer .box-container .box .payment-img {
  margin-top: 2rem;
  height: 3rem;
  display: block;
} */

/* .footer .credit {
  text-align: center;
  margin-top: 2rem;
  /*padding:1rem;
  padding-top: 2.5rem;
  font-size: 2rem;
  color: var(--black);
  border-top: var(--border);
} */

/* .footer .credit span {
  color: var(--orange);
} 

.footer {
  background: #000;
}

.footer .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.5rem;
}

.footer .box-container .box h3 {
  font-size: 2.5rem;
  color: greenyellow;
  padding: 1rem 0;
}

.footer .box-container .box h3 i {
  color: orange;
}

.footer .box-container .box .links {
  display: block;
  font-size: 1.5rem;
  color: white;
  padding: 1rem 0;
}

.footer .box-container .box .links i {
  color: var(--orange);
  padding-right: .5rem;
}

.footer .box-container .box .links:hover i {
  padding-right: 2rem;
}


/* .footer .box-container .box p {
  line-height: 1.8;
  font-size: 1.5rem;
  color: var(--light-color);
  padding: 1rem 0;
} 

.footer .box-container .box .share a {
  height: 4rem;
  width: 4rem;
  line-height: 4rem;
  border-radius: .5rem;
  font-size: 2rem;
  color: var(--black);
  margin-right: .2rem;
  background: #eee;
  text-align: center;
}

.footer .box-container .box .share a:hover {
  background: var(--orange);
  color: #fff;
}

.footer .box-container .box .email {
  width: 100%;
  margin: .7rem 0;
  padding: 1rem;
  border-radius: .5rem;
  background: #eee;
  font-size: 1.6rem;
  color: var(--black);
  text-transform: none;
}

.footer .box-container .box .payment-img {
  margin-top: 2rem;
  height: 3rem;
  display: block;
}*/


